/* line 7, ../../../src/scss/style.scss */
html {
  font-family: Verdana, Helvetica;
}

/* line 11, ../../../src/scss/style.scss */
body {
  margin: 0;
  background-color: #FFEACF;
}

/* line 16, ../../../src/scss/style.scss */
h1 {
  font-size: 1rem;
}

/* line 20, ../../../src/scss/style.scss */
div {
  position: relative;
}

/* line 26, ../../../src/scss/style.scss */
.hidden {
  display: none;
}

/* line 30, ../../../src/scss/style.scss */
.main {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

/* line 37, ../../../src/scss/style.scss */
.loading {
  margin: 5em;
}

/* line 41, ../../../src/scss/style.scss */
.content {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

/* line 54, ../../../src/scss/style.scss */
.information {
  -moz-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  border-radius: 2vh;
  background-color: #FACC91;
  margin: 5vh 5vw;
  padding: 2vh 2vw;
  font-size: 0.8rem;
  height: 70vh;
}

/* line 63, ../../../src/scss/style.scss */
.title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

/* line 69, ../../../src/scss/style.scss */
.tinder {
  margin: 5vh 5vw;
}
/* line 72, ../../../src/scss/style.scss */
.tinder .previous {
  position: absolute;
  top: -16px;
}
/* line 77, ../../../src/scss/style.scss */
.tinder img {
  max-width: 80vw;
  max-height: 80vh;
}

/* line 83, ../../../src/scss/style.scss */
.image-title {
  margin-bottom: 30px;
}

/* line 88, ../../../src/scss/style.scss */
.progress-bar .total, .progress-bar .complete {
  height: 1vh;
}
/* line 92, ../../../src/scss/style.scss */
.progress-bar .total {
  margin-bottom: -1vh;
  width: 100%;
  background-color: #A9EBFF;
}
/* line 98, ../../../src/scss/style.scss */
.progress-bar .complete {
  background-color: #529DB2;
}

/* line 103, ../../../src/scss/style.scss */
.results {
  margin-left: 3em;
}
